---

import type { CardConfig } from "../../../lib/types/layout";
import CardBase from "../cards/CardBase.astro";

interface Props {
  cards: CardConfig[];
}

const { cards } = Astro.props;

function sizeToClass(size: CardConfig["size"]) {
  switch (size) {
    case "1x1":
      return "col-span-1 row-span-1";
    case "1x2":
      return "col-span-1 row-span-2";
    case "2x1":
      return "col-span-2 row-span-1";
    case "2x2":
      return "col-span-2 row-span-2";
    default:
      return "col-span-1 row-span-1";
  }
}
---

<div class="grid-container">
  {cards.map((card) => (
    <div class={`grid-item ${sizeToClass(card.size)}`}>
      <CardBase config={card} />
    </div>
  ))}
</div>

<style>
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid-item {
  position: relative;
}
</style>
