.site-header {
  margin-bottom: 40px;
}

.header-top {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.header-bio {
  max-width: 600px;
  font-size: 14px;
  color: #565430;
}
