---
import "../styles/base.css";
import "../styles/global.css";
import "../styles/header.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
  </head>
  <body>
    <main class="page">
      <slot />
    </main>
  </body>
</html>
