---
import Head from "../components/system/Head.astro"
import Header from "../components/system/Header.astro"
import Footer from "../components/system/Footer.astro"
---

<html lang="en">
  <head>
      <Head />
        </head>

          <body>
              <Header />

                  <slot />

                      <Footer />
                        </body>
                        </html>